**/.DS_Store
*.suo
*.user
*.ipch
*.VC.db
*.tlog
**/.vs/**
*.sln
*.vcxproj.*

**/Release/**
**/Debug/**
**/build*/*
**/cmake-build-debug/**
**/out/**
test/sandbox/**
test/test-module-builds/**

.vscode
.idea

imgui.ini
